<div class="container">
    <div class="col">
        <span class="opis">
            Rodzic nie zmienia referencji przekazywanej tablicy. Niefiltrowane
            dane są aktualizowane, filtrowane nie.
        </span>
        <button (click)="pipePush()">Dodaj Element</button>
        <app-pipe [array]="pipePushArray"></app-pipe>
    </div>
    <div class="col">
        <span class="opis">
            Rodzic zmienia referencję przekazywanej tablicy. Pipe zostaje
            ponownie wywołany przez co wyświetlane wartości są aktualizowane
        </span>
        <button (click)="pipeNewAray()">Dodaj Element</button>
        <app-pipe [array]="pipeNewArray2Array"></app-pipe>
    </div>
</div>
