<h1 class="summary-header">Offer {{data.offer.Id}}</h1>
<div class="summary-container">
  <div class="summary-content" *ngIf="data.offer.personalData">
    <details open>
      <summary class="mat-h1">Personal Data</summary>
      <ul>
        <b>Dane personalne:</b>
        <ul>
          <li>Imię: {{data.offer.personalData.firstName}}</li>
          <li>Nazwisko: {{data.offer.personalData.lastName}}</li>
          <li>Email: {{data.offer.personalData.email}}</li>
          <li>Telefon: {{data.offer.personalData.phone}}</li>
        </ul>
        <b>Adres zamieszkania:</b>
        <ul>
          <li>Ulica: {{data.offer.personalData.address.street}}</li>
          <li>Kod pocztowy: {{data.offer.personalData.address.zipcode}}</li>
          <li>Miasto: {{data.offer.personalData.address.city}}</li>
        </ul>
      </ul>
    </details>
  </div>

  <div class="summary-content" *ngIf="data.offer.appartmentDetails">
    <details open>
      <summary class="mat-h1">Appartment Details</summary>
      <ul>
        <b>Adres szukanego mieszkania:</b>
        <ul>
          <li>Ulica: {{data.offer.appartmentDetails.address.street}}</li>
          <li>Kod pocztowy: {{data.offer.appartmentDetails.address.zipcode}}</li>
          <li>Miasto: {{data.offer.appartmentDetails.address.city}}</li>
        </ul>
        <b>Dane mieszkania:</b>
        <ul>
          <li>Sposób zakupu: {{data.offer.appartmentDetails.purchase}}</li>
          <li>Powierzchnia: {{data.offer.appartmentDetails.area}} m^2</li>
          <li>Cena za metr: {{data.offer.appartmentDetails.forMeterCost}} pln</li>
          <li>Piętro: {{data.offer.appartmentDetails.floor}}</li>
          <li>Stan mieszkania: {{data.offer.appartmentDetails.status}}</li>
        </ul>
      </ul>
    </details>
    <li><b>Koszt:</b> {{data.offer.appartmentDetails.cost}} pln</li>
  </div>

  <div class="summary-content" *ngIf="data.offer.mattressDetails">
    <details open>
      <summary class="mat-h1">Mattress Details</summary>
      <ul>
        <b>Dane materaca:</b>
        <ul>
          <li>Rozmiar materaca: {{data.offer.mattressDetails.mattressSize}}</li>
          <li>Rozmiar pokrowca: {{data.offer.mattressDetails.coverSize}}</li>
          <li>Firma: {{data.offer.mattressDetails.firm}}</li>
          <li>Nazwa: {{data.offer.mattressDetails.name}}</li>
          <li>Typ: {{data.offer.mattressDetails.type}}</li>
        </ul>
      </ul>
    </details>
    <li><b>Koszt: </b>{{data.offer.mattressDetails.cost}} pln</li>
  </div>

  <div class="summary-content" *ngIf="data.offer.additionalData">
    <details open>
      <summary class="mat-h1">Additional Data</summary>
      <ul>
        <b>Dodatkowe uwagi:</b>
        <ul>
          <p>{{data.offer.additionalData.comment}}</p>
        </ul>
      </ul>
    </details>
  </div>
  <li><b>Ogólny koszt: </b>{{data.offer.totalCost}} pln</li>
</div>


