<div [formGroup]="addressForm"><h4 class="step-form-subheader">Adres</h4>
  <mat-form-field>
    <input matInput placeholder="Ulica"
           formControlName="street" required>
  </mat-form-field>
  <mat-error>{{getErrorMessage(addressForm.controls.street)}}</mat-error>
  <br>
  <mat-form-field hintLabel="(XX-XXX)">
    <input matInput placeholder="Kod pocztowy"
           formControlName="zipcode" ngModel pattern="[0-9]{2}\-([0-9]{3})" required>
  </mat-form-field>
  <mat-error>{{getErrorMessage(addressForm.controls.zipcode)}}</mat-error>
  <mat-form-field>
    <input matInput placeholder="Miasto"
           formControlName="city" required>
  </mat-form-field>
  <mat-error>{{getErrorMessage(addressForm.controls.city)}}</mat-error>
</div>
