$border: 2px solid black;
.navbar {
    padding: 20px;
    display: grid;
    grid-template-areas: 's i p';
    column-gap: 20px;
}
.container {
    display: flex;
    flex-direction: row;

    .col {
        border-top: $border;
        display: flex;
        flex-grow: 1;
        flex-basis: 0px;
        flex-direction: column;
        padding: 20px;
    }

    .col:nth-child(n):not(:last-child) {
        border-right: $border;
    }
}
