<div class="navbar">
    <button (click)="changeScreen(1)">Standardowe</button>
    <button (click)="changeScreen(2)">Input Set</button>
    <button (click)="changeScreen(3)">Pipe</button>
</div>

<div [ngSwitch]="currentScreen">
    <div *ngSwitchCase="1" class="container">
        <div class="col">
            <button (click)="push()">Push</button>
            <app-push [array]="pushArray"></app-push>
        </div>
        <div class="col">
            <button (click)="newArray()">Nowa Tablica</button>
            <app-new-array [array]="newArray2Array"></app-new-array>
        </div>
    </div>
    <div *ngSwitchCase="2" class="container">
        <div class="col">
            <button (click)="setPush()">Push</button>
            <app-set-push [array]="setPushArray"></app-set-push>
        </div>
        <div class="col">
            <button (click)="setPushChildNewArray()">
                Push, w dziecku twożona nowa tablica
            </button>
            <app-set-push-child-new-array
                [array]="setPushChildNewArrayArray"
            ></app-set-push-child-new-array>
        </div>
        <div class="col">
            <button (click)="setNewArrayRoot()">
                w korzeniu twożona nowa tablica
            </button>
            <app-set-new-array-root
                [array]="SetNewArrayRoot2Array"
            ></app-set-new-array-root>
        </div>
        <div class="col">
            <button (click)="setNewArrayRootAndChild()">
                W korzeniu i w dziecku twożona nowa tablica
            </button>
        </div>
    </div>
    <div *ngSwitchCase="3" class="container">
        <div class="col">
            <button (click)="pipePush()">
                Push, tablica która jest filtrowana pipem w dziecku
            </button>
        </div>
        <div class="col">
            <button (click)="pipePush()">
                korzeń twoży nową tablice, która jest filtrowana pipem w dziecku
            </button>
        </div>
    </div>
    <div *ngSwitchDefault>NiemaTakiegoEkranu</div>
</div>
