<div class="navbar">
    <button (click)="changeScreen(1)">Standardowe</button>
    <button (click)="changeScreen(2)">Input Set</button>
    <button (click)="changeScreen(3)">Pipe</button>
</div>

<div [ngSwitch]="currentScreen">
    <div *ngSwitchCase="1" class="container">
        <div class="col">
            <button (click)="push()">Push</button>
        </div>
        <div class="col">
            <button (click)="newArray()">Nowa Tablica</button>
        </div>
    </div>
    <div *ngSwitchCase="2" class="container">
      <div class="col">
        
      </div>
    </div>
    <div *ngSwitchCase="3" class="container">output</div>
    <div *ngSwitchDefault>NiemaTakiegoEkranu</div>
</div>
