<!-- <div class="home">
    <p>Running Turtles!</p>
    <div class="button" [routerLink]="['/newGame']">START</div>
</div> -->

<div class="container">
    <mat-card>
        <mat-card-header>
            <h3>Running Turtles!</h3>
        </mat-card-header>
        <mat-card-content>
            Welcome to the game! please read rules before playing.
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button [routerLink]="['/newGame']">Start</button>
        </mat-card-actions>
    </mat-card>
</div>
