<div class="todo-list-item">
    <div class="todo-item-header">
        <input type="checkbox" (change)="onChange($event)">
        <div class="title">
            <span>{{ todoItem.title }}</span>

            <a *ngIf="isProtected" [routerLink]="['/', todoItem.id, 'protected', 'item']">Details</a>
            <a *ngIf="!isProtected" [routerLink]="['/', todoItem.id, 'item']">Details</a>
        </div>
    </div>
    <div class="todo-item-body">
        <span>{{ todoItem.description }}</span>
    </div>
</div>
