.todo-list-item {
    display: flex;
    flex-direction: column;
    border: 1px solid black;

    height: 100px;
    width: 200px;

    .title {
        display: flex;
        flex-direction: column;
    }

    .todo-item-header {
        display: flex;
        flex-direction: row;
    }

    .todo-item-body {
        margin-top: 4px;
    }
}
