<form class="step-form" [formGroup]="this.stepForm" >
  <h3 class="step-form-header">Dane mieszkania</h3>
  <label for="purchaseSelect"><b>Sposób zakupu:</b></label>
  <br>
  <mat-radio-group color="primary" id="purchaseSelect"
                   formControlName="purchase" required>
    <mat-radio-button value="Kredyt">Na kredyt</mat-radio-button>
    <mat-radio-button value="Gotówka">Za gotówkę</mat-radio-button>
  </mat-radio-group>
  <mat-error>{{getErrorMessage(stepForm.controls.purchase)}}</mat-error>
  <br>
  <mat-form-field>
    <input type="number" matInput placeholder="Powierzchnia (m^2)"
           formControlName="area" min="1" required>
  </mat-form-field>
  <mat-error>{{getErrorMessage(stepForm.controls.area)}}</mat-error>
  <br>
  <mat-form-field>
    <input type="number" matInput placeholder="Cena za metr (PLN)"
           formControlName="forMeterCost" min="1" required>
  </mat-form-field>
  <mat-error>{{getErrorMessage(stepForm.controls.forMeterCost)}}</mat-error>
  <br>
  <mat-form-field>
    <input type="number" matInput placeholder="Piętro"
           formControlName="floor" min="0" required>
  </mat-form-field>
  <mat-error>{{getErrorMessage(stepForm.controls.floor)}}</mat-error>
  <br>
  <label for="statusSelect"><b>Stan mieszkania:</b></label>
  <br>
  <mat-radio-group color="primary" id="statusSelect"
                   formControlName="status" required>
    <mat-radio-button value="Deweloperski">Deweloperski</mat-radio-button>
    <mat-radio-button value="Rynek wtórny">Rynek wtórny</mat-radio-button>
  </mat-radio-group>
  <mat-error>{{getErrorMessage(stepForm.controls.status)}}</mat-error>
  <app-address [parentFormGroup]="stepForm"></app-address>
  <br><br>
</form>
