<mat-horizontal-stepper [formGroup]="offerForm" labelPosition="bottom" linear #stepper>

  <ng-template matStepperIcon="edit">
    <mat-icon>done</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="done">
    <mat-icon>done_all</mat-icon>
  </ng-template>

  <mat-step [stepControl]="stepOneForm" label="Personal Data">
    <app-step-one></app-step-one>
    <div class="buttons-container">
      <button mat-button matStepperNext (click)="stepOneForm.markAllAsTouched()">Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="stepTwoForm" label="Appartment Details">
    <app-step-two></app-step-two>
    <div class="buttons-container">
      <button mat-button matStepperPrevious>Previous</button>
      <button mat-button matStepperNext
              (click)="patchTotalCost(); stepTwoForm.markAllAsTouched()">Next
      </button>
    </div>
  </mat-step>

  <mat-step [optional]="!offerForm.value.withMattress" [stepControl]="stepThreeForm" label="Mattress Details">
    <app-step-three [hidden]="!offerForm.value.withMattress"></app-step-three>
    <br>
    <div>
      <mat-slide-toggle formControlName="withMattress" color="primary">
        Czy chcesz kupić materac wraz z mieszkaniem?
      </mat-slide-toggle>
      <div class="buttons-container">
        <button mat-button matStepperPrevious>Previous</button>
        <button mat-button matStepperNext
                (click)="patchTotalCost();
              offerForm.value.withMattress ? stepThreeForm.markAllAsTouched() : null">Next
        </button>
      </div>
    </div>
  </mat-step>

  <mat-step [stepControl]="stepFourForm" label="Offer Summary">
    <app-step-four [stepOneForm]="stepOneForm"
                   [stepTwoForm]="stepTwoForm"
                   [stepThreeForm]="stepThreeForm"
                   [withMattress]="offerForm.value.withMattress"
                   [totalCost]="offerForm.value.totalCost"></app-step-four>
    <div class="buttons-container">
      <button mat-button matStepperPrevious>Previous</button>
      <button mat-button mat-raised-button color="primary"
              (click)="makeOffer(); stepper.reset()">Done
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
