html, body {
  height: 100%;
}
body {
  background-color: lavender;
  margin: 0;
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-horizontal-stepper {
  width: 40%;
  min-width: 300px;
  margin: 0px auto;
  margin-bottom: 10px;
  padding: 10px;
  padding-bottom: 0px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px -10px;
}
.offers-list {
  background-color: white;
  width: 40%;
  min-width: 300px;
  max-width: initial;
  margin: 0px auto;
  margin-bottom: 10px;
  padding: 10px;
  padding-bottom: 0px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px -10px;
}

.summary-header {
  min-width: fit-content;
  background-color: lightsteelblue;
  border-radius: 10px;
  box-shadow: 1px 1px 6px -5px;
  margin: 0;
}

.summary-container {
  min-width: fit-content;
  /*background-color: lightblue;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 0px auto;
  margin-bottom: 5px;
  border-radius: 20px;
  /*box-shadow: 1px 1px 5px -3px;*/
}

.summary-container button {
  margin: 5px;
}

.summary-content {
  min-width: fit-content;
  background-color: lightblue;
  padding: 0px;
  margin: 0px auto;
  margin-bottom: 5px;
  border-radius: 20px;
  box-shadow: 1px 1px 7px -5px;
}

.summary-content summary {
  padding: 0px 20px;
}

.summary-content ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px;
  margin-bottom: 2px;
  margin-right: 50px;
}

.summary-add-offer {
  background-color: lavender;
}

.step-form {
  width: 80%;
  min-width: fit-content;
  margin: 0px auto;
  margin-bottom: 2px;
  background-color: aliceblue;
  border-radius: 15px;
  box-shadow: 1px 1px 7px -5px;
}

.step-form-header {
  min-width: fit-content;
  background-color: lightsteelblue;
  border-radius: 10px;
  box-shadow: 1px 1px 6px -5px;
  margin: 0px;
  margin-bottom: 10px;
}

.step-form-subheader {
  margin: 0px;
  margin-top: 10px;
}

.mat-button {
  background-color: lavender;
  width: 25%;
  box-shadow: 1px 1px 6px -5px;
}

mat-radio-button{
  margin-right: 10px;
  margin-top: 5px;
}

.mat-h1 {
  margin: 0px 0px;
  font-weight: bold;
  font-style: oblique;
}
