@import '../../../../styles.scss';
.content {
    min-width: 200px;
    .number {
        font-size: 80px;
    }
    .type {
        .img {
            width: 50%;
            height: auto;
        }
    }
}
.small {
    font-size: 14px;
}
.highlighted {
    background: map-get($map: $accent, $key: 100);
}
