<div class="summary-container">
  <div class="summary-content" *ngIf="stepOneForm">
    <details close>
      <summary class="mat-h1">Personal Data</summary>
      <ul>
        <b>Dane personalne:</b>
        <ul>
          <li>Imię: {{this.stepOneForm.value.firstName}}</li>
          <li>Nazwisko: {{this.stepOneForm.value.lastName}}</li>
          <li>Email: {{this.stepOneForm.value.email}}</li>
          <li>Telefon: {{this.stepOneForm.value.phone}}</li>
        </ul>
        <b>Adres zamieszkania:</b>
        <ul>
          <li>Ulica: {{this.stepOneForm.controls.address.value.street}}</li>
          <li>Kod pocztowy: {{this.stepOneForm.controls.address.value.zipcode}}</li>
          <li>Miasto: {{this.stepOneForm.controls.address.value.city}}</li>
        </ul>
      </ul>
    </details>
  </div>

  <div class="summary-content" *ngIf="stepTwoForm">
    <details close>
      <summary class="mat-h1">Appartment Details</summary>
      <ul>
        <b>Adres szukanego mieszkania:</b>
        <ul>
          <li>Ulica: {{this.stepTwoForm.controls.address.value.street}}</li>
          <li>Kod pocztowy: {{this.stepTwoForm.controls.address.value.zipcode}}</li>
          <li>Miasto: {{this.stepTwoForm.controls.address.value.city}}</li>
        </ul>
        <b>Dane mieszkania:</b>
        <ul>
          <li>Sposób zakupu: {{this.stepTwoForm.value.purchase}}</li>
          <li>Powierzchnia: {{this.stepTwoForm.value.area}} m^2</li>
          <li>Cena za metr: {{this.stepTwoForm.value.forMeterCost}} pln</li>
          <li>Piętro: {{this.stepTwoForm.value.floor}}</li>
          <li>Stan mieszkania: {{this.stepTwoForm.value.status}}</li>
        </ul>
      </ul>
    </details>
    <li><b>Koszt:</b> {{this.stepTwoForm.value.cost}} pln</li>
  </div>

  <div class="summary-content" *ngIf="withMattress&&stepThreeForm">
    <details close>
      <summary class="mat-h1">Mattress Details</summary>
      <ul>
        <b>Dane materaca:</b>
        <ul>
          <li>Rozmiar materaca: {{this.stepThreeForm.value.mattressSize}}</li>
          <li>Rozmiar pokrowca: {{this.stepThreeForm.value.coverSize}}</li>
          <li>Firma: {{this.stepThreeForm.value.firm}}</li>
          <li>Nazwa: {{this.stepThreeForm.value.name}}</li>
          <li>Typ: {{this.stepThreeForm.value.type}}</li>
        </ul>
      </ul>
    </details>
    <li><b>Koszt: </b>{{this.stepThreeForm.value.cost}} pln</li>
  </div>
  <li><b>Ogólny koszt: </b>{{this.totalCost}} pln</li>
</div>
<form class="step-form" [formGroup]="this.stepForm">
  <mat-form-field>
        <textarea matInput placeholder="Dodatkowe uwagi..." matTextareaAutosize
                  formControlName="comment"></textarea>
  </mat-form-field>
  <br><br>
</form>
